In [28]:
my_string = 'hello'

###### first we create a empty list, then we append the letters from my_string to the empty list.

In [29]:
my_list = []

for letter in my_string:
    my_list.append(letter)

In [30]:
my_list

['h', 'e', 'l', 'l', 'o']

###### Doing same thing with List Comprehension

In [31]:
my_list = [letter for letter in my_string]

In [32]:
my_list

['h', 'e', 'l', 'l', 'o']

In [33]:
my_list = [x for x in 'word']

In [34]:
my_list

['w', 'o', 'r', 'd']

In [35]:
mylist = [x**2 for x in range(0,11)]

In [36]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [38]:
mylist

[0, 2, 4, 6, 8, 10]

In [39]:
celsius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius]

In [40]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [41]:
 fahrenheit = []
    
for temp in celsius:
    fahrenheit.append(((9/5)*temp+32))

In [42]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

 ###### if else statement

In [45]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

results

In [46]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

###### nested loop

In [52]:
# it will take 2 and multiply by each number in y, same for 4 and 6.

In [50]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [51]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [53]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [54]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]