##### 1. LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [19]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [20]:
lesser_of_two_evens(5,4)

5

In [21]:
lesser_of_two_evens(8,4)

4

In [22]:
lesser_of_two_evens(5,9)

9

In [25]:
lesser_of_two_evens(3,2)

3

In [26]:
lesser_of_two_evens(6,10)

6

##### 2.ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [47]:
def animal_crackers(text):
    
    word = text.split()
    return word[0][0]==word[1][0]

In [48]:
animal_crackers('Levelheaded Llama')

True

In [49]:
animal_crackers('Levelheaded Klama')

False

#### 3. MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [75]:
def makes_twenty(a,b):
    
    if a+b == 20:
        return True
    elif a == 20 or b == 20:
        return True
    else:
        return False

In [82]:
makes_twenty(20,22)

True

In [83]:
def makes_twenty(a,b):
    return (a+b)==20 or a==20 or b == 20

In [84]:
makes_twenty(20,1)

True

In [85]:
makes_twenty(12,8)

True

In [86]:
makes_twenty(15,3)

False

### Level 1

##### 1.  OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [3]:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [5]:
old_macdonald('macdonald')

'MacDonald'

In [7]:
# another solution 

def old_macdonald(name):
    
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [8]:
old_macdonald('macdonald')

'MacDonald'

### MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'
This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [9]:
def master_yoda(text):
    
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return ' '.join(reverse_word_list)

In [10]:
master_yoda('I am home')

'home am I'

In [11]:
master_yoda('We are ready')

'ready are We'

In [12]:
 # examples on how the .join() works

In [13]:
mylist = ['a', 'b', 'c']

In [14]:
'-'.join(mylist)

'a-b-c'

In [15]:
','.join(mylist)

'a,b,c'

##### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True
NOTE: abs(num) returns the absolute value of a number

In [16]:
def almost_there(n):
    
    return (abs(100 - n) <= 10) or (abs(200-n) <= 10)

In [17]:
almost_there(90)

True

In [18]:
almost_there(105)

True

In [19]:
almost_there(250)

False

### Level 2

#### FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [20]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1]==3:
            return True
    return False

In [22]:
has_33([1,3,3])

True

In [23]:
has_33([1,2,3])

False

### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [25]:
def paper_doll(text):
    
    final_string = ''
    
    for char in text:
        final_string += char *3
    return final_string

In [26]:
paper_doll('Hello')

'HHHeeellllllooo'

In [27]:
paper_doll('Vienna')

'VVViiieeennnnnnaaa'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'Â¶

In [28]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum ([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])-10 <=21:
        return sum([a,b,c])-10
    else: 
        return 'BUST'

In [29]:
blackjack(2,15,6)

'BUST'

In [30]:
blackjack(6,6,11)

13